<% if current_user.cohort %>

<h3>Welcome <%= current_user.name %></h3>
<h3>Welcome <%= current_user.cohort.name %></h3>

<h2 class="page-header">Todays Events</h2>

<% @events_for_today.each do |event, event_time| %>
	<%= event.title %>
	<%= event.url %>
	<%= event.description %>
	<h3>Start Time</h3>
	<%= event_time.start_time.localtime.strftime("%r") %>
    <h3>End Time</h3>
	<%= event_time.end_time.localtime.strftime("%r") %>
    <% end %>
  <% end %>

<h2>Weekly Events</h2>
