-if current_user.cohort
  .animated.bounceInLeft
    .todays_events
      %h1 Events for today
      .animated.bounceInUp
        %h2.today Today is #{day_of_week_name(current_user.cohort.day_in_week_at_dbc)}
        - @events_for_today.each do |event, event_time|
          %h4= event.title
          .event_url= event.url
          .event_description= event.description
          .event_time= "Start time: #{event_time.start_time.strftime('%l:%M %P')}"
          .event_time= "End time: #{event_time.end_time.strftime('%l:%M %P')}"
  .weeks_events
    .animated.bounceInRight
      %h1 Events for the week
      - @days.each do |day|
        - @day_events = @events_for_week.select do |event, event_time|
          - event_time.day == day
        - unless @day_events.empty?
          .day
            %h3= day_of_week_name(day)
            - @day_events.each do |event, event_time|
              .week_event
                %h4= event.title
                .event_url= event.url
                .event_description= event.description
                .event_time= "Start time: #{event_time.start_time.strftime('%l:%M %P')}"
                .event_time= "End time: #{event_time.end_time.strftime('%l:%M %P')}"
  .todays_challenges
    .animated.bounceInUp
      - unless @challenges_for_today.empty?
        %h1 Today's Challenges
        .challenge
          - @challenges_for_today.each do |challenge|
            .challenge_name
              %span.challenge_core= "#{'core' if challenge.required?}"
              %span.challenge_name=link_to "#{challenge.name}", challenge_path(challenge)

      -else
        %h1 No Challenges Today :)
        Breathe.

-else
  %h1 All Events:
  - (1..3).each do |phase|
    %h2.phase_number= "Phase #{phase}"
    - (1..3).each do |week|
      %h3.week_number= "Week #{week}"
      - @days.each do |day|
        %h4.day_number= "#{day_of_week_name(day)}:" if @events_with_times.any? {|event, event_time| event_time.day == day && event_time.week == week}
        - @events_with_times.each do |event, event_time|
          - if event_time.week == week && event_time.day == day
            .event
              %h5= event.title
              .event_url= event.url
              .event_description= event.description
              .event_time= "Start time: #{event_time.start_time.strftime('%l:%M %P')}"
              .event_time= "End time: #{event_time.end_time.strftime('%l:%M %P')}"

