<!-- <p><%= f.label :PublishTime, "Start Time" %></p>
<p><%= f.text_field :attributeunknowwithformr %><p/>
<p><%= f.label :EndPublishTime, "End Time" %></p>
<p><%= f.text_field :attributeunknowwithformr %><p/>

 -->



<table class="day_picker">
<tr>
  <th>Week 1</th>
<td>
  <%= link_to "Monday", "#", class: "day_links" %>
  <%= link_to "Tuesday", "#", class: "day_links" %>
  <%= link_to "Wednesday", "#", class: "day_links" %>
  <%= link_to "Thursday", "#", class: "day_links" %>
  <%= link_to "Friday", "#", class: "day_links" %>
  <%= link_to "Saturday", "#", class: "day_links" %>
  <%= link_to "Sunday", "#", class: "day_links" %>
</td>
</tr>
<tr>
  <th>Week 2</th>
<td>
  <%= link_to "Monday", "#", class: "day_links" %>
  <%= link_to "Tuesday", "#", class: "day_links" %>
  <%= link_to "Wednesday", "#", class: "day_links" %>
  <%= link_to "Thursday", "#", class: "day_links" %>
  <%= link_to "Friday", "#", class: "day_links" %>
  <%= link_to "Saturday", "#", class: "day_links" %>
  <%= link_to "Sunday", "#", class: "day_links" %>
</td>
</tr>
  <th>Week 3</th>
<td>
  <%= link_to "Monday", "#", class: "day_links" %>
  <%= link_to "Tuesday", "#", class: "day_links" %>
  <%= link_to "Wednesday", "#", class: "day_links" %>
  <%= link_to "Thursday", "#", class: "day_links" %>
  <%= link_to "Friday", "#", class: "day_links" %>
  <%= link_to "Saturday", "#", class: "day_links" %>
  <%= link_to "Sunday", "#", class: "day_links" %>
</td>
</tr>
</table>

<p>Start Time</p>

<%= time_select 'event_time', 'event_time', {:ampm => true} %>
<p>End Time</p>

<%= time_select 'event_time', 'event_time', {:ampm => true} %>

