<!-- <p><%= f.label :PublishTime, "Start Time" %></p>
<p><%= f.text_field :attributeunknowwithformr %><p/>
<p><%= f.label :EndPublishTime, "End Time" %></p>
<p><%= f.text_field :attributeunknowwithformr %><p/>

 -->



<table class="day_picker">
<tr>
  <th>Week 1</th>
<td>
  <%= check_box "week_1", "1" %> Monday
  <%= check_box "week_1", "2" %> Tuesday
  <%= check_box "week_1", "3" %> Wednesday
  <%= check_box "week_1", "4" %> Thursday
  <%= check_box "week_1", "5" %> Friday
  <%= check_box "week_1", "6" %> Saturday
  <%= check_box "week_1", "7" %> Sunday
</td>
</tr>
<tr>
  <th>Week 2</th>
<td>
  <%= check_box "week_2", "1" %> Monday
  <%= check_box "week_2", "2" %> Tuesday
  <%= check_box "week_2", "3" %> Wednesday
  <%= check_box "week_2", "4" %> Thursday
  <%= check_box "week_2", "5" %> Friday
  <%= check_box "week_2", "6" %> Saturday
  <%= check_box "week_2", "7" %> Sunday
</td>
</tr>
  <th>Week 3</th>
<td>
  <%= check_box "week_3", "1" %> Monday
  <%= check_box "week_3", "2" %> Tuesday
  <%= check_box "week_3", "3" %> Wednesday
  <%= check_box "week_3", "4" %> Thursday
  <%= check_box "week_3", "5" %> Friday
  <%= check_box "week_3", "6" %> Saturday
  <%= check_box "week_3", "7" %> Sunday
</td>
</tr>
</table>

<p>Start Time</p>
    <%# select_time(Time.now)  %>

<%= text_field(:event_time, :start_hour, size: 5) %>:
<%= text_field(:event_time, :start_minute, size: 8) %>

<%# time_select 'event_time', 'lovestart_event_time', {:ampm => true} %>

<p>End Time</p>

<%= text_field(:event_time, :end_hour, size: 5) %>:
<%= text_field(:event_time, :end_minute, size: 8) %>


    <%# select_time(Time.now)  %>


<%# time_select 'event_time', 'loveend_event_time', {:ampm => true} %>

