<!-- <p><%= f.label :PublishTime, "Start Time" %></p>
<p><%= f.text_field :attributeunknowwithformr %><p/>
<p><%= f.label :EndPublishTime, "End Time" %></p>
<p><%= f.text_field :attributeunknowwithformr %><p/>

 -->



<table class="day_picker">
<tr>
  <th>Week 1</th>
<td>
  <%= check_box "week_1", "Monday" %> Monday
  <%= check_box "week_1", "Tuesday" %> Tuesday
  <%= check_box "week_1", "Wednesday" %> Wednesday
  <%= check_box "week_1", "Thursday" %> Thursday
  <%= check_box "week_1", "Friday" %> Friday
  <%= check_box "week_1", "Saturday" %> Saturday
  <%= check_box "week_1", "Sunday" %> Sunday
</td>
</tr>
<tr>
  <th>Week 2</th>
<td>
  <%= check_box "week_2", "Monday" %> Monday
  <%= check_box "week_2", "Tuesday" %> Tuesday
  <%= check_box "week_2", "Wednesday" %> Wednesday
  <%= check_box "week_2", "Thursday" %> Thursday
  <%= check_box "week_2", "Friday" %> Friday
  <%= check_box "week_2", "Saturday" %> Saturday
  <%= check_box "week_2", "Sunday" %> Sunday
</td>
</tr>
  <th>Week 3</th>
<td>
  <%= check_box "week_3", "Monday" %> Monday
  <%= check_box "week_3", "Tuesday" %> Tuesday
  <%= check_box "week_3", "Wednesday" %> Wednesday
  <%= check_box "week_3", "Thursday" %> Thursday
  <%= check_box "week_3", "Friday" %> Friday
  <%= check_box "week_3", "Saturday" %> Saturday
  <%= check_box "week_3", "Sunday" %> Sunday
</td>
</tr>
</table>

<p>Start Time</p>
    <%# select_time(Time.now)  %>

<%= text_field(:event_time, :start_hour, size: 5) %>:
<%= text_field(:event_time, :start_minute, size: 8) %>

<%# time_select 'event_time', 'lovestart_event_time', {:ampm => true} %>

<p>End Time</p>

<%= text_field(:event_time, :end_hour, size: 5) %>:
<%= text_field(:event_time, :end_minute, size: 8) %>


    <%# select_time(Time.now)  %>


<%# time_select 'event_time', 'loveend_event_time', {:ampm => true} %>

