<div class="this_event">
<h2>Add an Event to the Boot Calender</h2>


<%= form_for @event do |f| %>
  <p><%= f.label :event %></p>

  <p>Title: <%= f.text_field :title, :placeholder => "Engineering Empathy"  %></p>
  <p>Description: </p>
    <p><%= f.text_area :description, :placeholder => "Learn Why your superego Hates you."  %></p>
   <p>URL: <%= f.text_field :url, :placeholder => "Reddit.com"  %></p>


  <p><%= f.fields_for :phase_events do |phase_event_form|  %></p>
        <% @phases.each do |phase_array| %>
          <%= (check_box "phase_event", "#{phase_array.last}") + "#{phase_array.first}" %>
          <br>
        <% end %>
      <% end %>


  <p><% f.fields_for :event_time do |event_time|  %></p>
    <% render "event_times", :f => event_time %>
  <% end %>

  <p>

  <p><%= f.submit %></p>
<% end %>
</div>
<br/>

