%h1= "This is phase #{@phase.number} in #{@phase.location}"
= link_to "See events across all phases", events_path
%h2 Here are its events:
- @phase.events.each do |event|
  %h3.event_title= event.title
  .event_url= event.url
  .event_description= event.description
  .event_times
    - event.event_times.each do |event_time|
      .event_date= "Week #{event_time.week} Day #{event_time.day}"
      .event_time= "Starts at: #{event_time.start_time} Ends at: #{event_time.end_time}"
