%nav
  = link_to 'Home', root_path, class: "logo"
  %span{class: "right_side_nav_links"}
    = link_to 'Create Event', new_event_path
    = link_to 'Create Phase', new_phase_path
  - if user_signed_in?
    = link_to('Logout', destroy_user_session_path, :method => :delete)
  - else
    = form_tag user_session_path do
      %div Username or Email
      = text_field_tag 'user[login]'
      %div Password
      = password_field_tag 'user[password]'
      %div
      = check_box_tag 'user[remember_me]'
      %div
      = label_tag 'user[remember_me]', 'Remember me'
      %button Sign in
      %div
      = link_to "Forgot your password?", new_password_path('user')


