<!DOCTYPE html>
<html>
<head>
  <title>PlayDough</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <title><%= yield :title %></title>

  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "/layouts/navigation" %>

  <div class="main">
    <%= yield %>
  </main>
</div>
</html>
